<%- include ("partials/header") %> 

    <div class="welcome-container">
        <h1>Welcome</h1>
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/register" class="btn btn-primary" >Register</a>

    </div>

<%- include("partials/footer") %>