<%- include ("partials/header") %> 

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Success</h1>
      <p class="lead">User is authorized</p>
      <a href="/logout">logout</a>
    </div>
</div>

<%- include("partials/footer") %>